*{
    box-sizing: border-box;
    
}


body{
    background-image: url('Images/nature.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    text-decoration: none;
    color: black;
}

.quote-card{
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    padding: 2rem 1.5rem 2rem 1.5rem;
    max-width: 436px;
    line-height: 1.7rem;
    margin: 0 1.2rem;
   
}

.quote-card:hover{
    background-color: aquamarine;
    color: burlywood;
}

#person{
    text-align: right;
    font-weight: 600;
    margin-top: 1rem;
}